* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#game {
  height: 100%;
  position: relative;
  overflow: hidden;
}

#player {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 300px;
  z-index: 2;
}

.object {
  position: absolute;
  height: 50px;
  z-index: 1;
  top: 0;
  animation: fallingApple 3s linear forwards;
}

@keyframes fallingApple {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

/* Score */
.counterSection {
  position: absolute;
  right: 20px;
  top: 20px;
}

.counterSection span {
  font-size: 50px;
}

.counterSection img {
  height: 50px;
}
