body {
  height: 100%;
  background: linear-gradient(
      29deg,
      rgb(227 108 108 / 80%),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(290deg, rgb(109 219 109 / 80%), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(208deg, rgb(105 105 229 / 80%), rgba(0, 0, 255, 0) 70.71%);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 0 auto 100px;
  font-family: cursive;
  padding-top: 50px;
}

.play {
  font-size: 100px;
  text-shadow: -2px 3px 2px #060008;
  cursor: pointer;
}

.play:hover {
    text-shadow: -6px 10px 2px #060008
}


#themeSelector {
  display: flex;
  align-items: center;
  height: 60%;
}

#themeIcons {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    align-items: center;
}

.themes {
  width: max-content;
  border-radius: 7px;
  border: black 1px dashed;
  padding: 7px 20px 20px
}


.themes legend {
    text-align: left;
  font-family: cursive;
  font-size: 20px;
  text-shadow: -2px 2px 2px #060008;
}


.icon {
    font-size: 70px;
    cursor: pointer;
    margin: 15px
  }
  .icon:hover {
      text-shadow: -2px 3px 2px #060008;
  }
  

#preview {
  display: flex;
}

