* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#game {
  height: 100%;
  position: relative;
  background-image: url("./resources/backgroundBamboo.png");
  overflow: hidden;
}

.redPanda {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 300px;
  z-index: 2;
}

.apple {
  position: absolute;
  height: 50px;
  z-index: 1;
  top: 0;
  animation: fallingApple 3s linear forwards;
}

@keyframes fallingApple {
  0% {
    transform: translateY(0);
  }
  99% {
    transform: translateY(100vh);
    /* transform: translateY(94vh); */
    opacity: 1
  }
  100% {
    transform: translateY(100vh);
    /* transform: translateY(94vh); */
    opacity: 0
  }
}


/* APPLE COUNTER */ 
.appleCounter {
    position: absolute;
    right: 20px;
    top: 20px
}

.appleCounter span {
    font-size: 50px
}

.appleCounter img {
    height: 50px
}